@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  background-color: #fff;
  padding: 24px 16px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1440px) {
  body {
    padding: 33px 27px 0 30px;
    border-radius: 15px;
    box-shadow: 0 20px 60px 0 rgba(73, 97, 168, 0.05);
  }
}